.shuffle-parent {
  display: inline-block;
  line-height: 1;
  font-size: 4rem;
  font-family: 'Press Start 2P', sans-serif;
  text-transform: uppercase;

  
  visibility: visible;
  color: white;
}

.shuffle-parent.is-ready {
  visibility: visible;
}

.shuffle-char-wrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: baseline;
}

.shuffle-char-wrapper > span {
  display: inline-flex;
  will-change: transform;
}

.shuffle-char {
  display: inline-block;
  text-align: center;
}
